.view-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.view-card {
  background: #fff;
  padding: 5px;
  width: 400px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.view-card h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.view-image {
  width: 300px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.view-text {
  margin: 6px 0;
  font-size: 17px;
}

.view-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
