.home {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  max-width: 100%;
}


.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  
}

.navbar-right {
  display: flex;
  gap: 15px;
}

.tagline {
  margin: 0;
  margin-top: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #333;
  opacity: 0.7;
}

.logo {
  font-weight: 800;
  color: #1890ff;
  margin: 0;
  font-size: 26px;
}


.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  justify-content: center;
}

.product-grid {
  padding: 0 10px;
}

.ant-card {
  border-radius: 12px !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.ant-card:hover {
  transform: translateY(-4px);
}

.modal-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer {
  background-color: #001529;
  color: #fff;
  padding: 40px 20px;
  margin-top: 50px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3 {
  color: #ffd700;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffd700;
  padding-bottom: 5px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
  color: #d9d9d9;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section ul li:hover {
  color: white;
}

.footer-section p {
  color: #ccc;
  margin-top: 8px;
  line-height: 1.4;
  font-size: 13px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    min-width: 100%;
  }

  .footer-section h3 {
    border: none;
  }
}




